body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #1e90ff; /* DodgerBlue */
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}

header h1, footer p {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #4682b4; /* SteelBlue */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 1rem;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#portfolio img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Add a media query to enhance responsiveness */
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    section {
        margin: 10px 0;
    }
}
